@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, :root { 
  font-family: 'Poppins', sans-serif !important;
  height: 100%;
}

.leaflet-bottom, .leaflet-top, .leaflet-control, .leaflet-pane {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}
.rdrCalendarWrapper { 
  font-size: 15px !important;
  width: 100% !important;
}